server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: user_user
    password: user_pass

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        default_batch_fetch_size: 1000
        jdbc:
          batch_size: 1000

  flyway:
    enabled: true
    baseline-on-migrate: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true